<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DynamicWebTP</display-name>
  <description>DynamicWebTP</description>
  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>com.fdmgroup.servletintro.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUser</display-name>
    <servlet-name>NewUser</servlet-name>
    <servlet-class>com.fdmgroup.servletintro.NewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUser</servlet-name>
    <url-pattern>/NewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRequest</display-name>
    <servlet-name>UserRequest</servlet-name>
    <servlet-class>com.fdmgroup.servletintro.UserRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRequest</servlet-name>
    <url-pattern>/UserRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>userHome</servlet-name>
    <jsp-file>/userHome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userHome</servlet-name>
    <url-pattern>/userHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>adminHome</servlet-name>
    <jsp-file>/adminHome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminHome</servlet-name>
    <url-pattern>/adminHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>shareholderTrade</servlet-name>
    <jsp-file>/shareholderTrade.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>shareholderTrade</servlet-name>
    <url-pattern>/shareholderTrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shareholderBuyOrder</display-name>
    <servlet-name>shareholderBuyOrder</servlet-name>
    <servlet-class>com.fdmgroup.servletintro.ShareholderBuyOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shareholderBuyOrder</servlet-name>
    <url-pattern>/shareholderBuyOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>brokerTrade</display-name>
    <servlet-name>brokerTrade</servlet-name>
    <jsp-file>/brokerTrade.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>brokerTrade</servlet-name>
    <url-pattern>/brokerTrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrokerCompleteTrade</display-name>
    <servlet-name>BrokerCompleteTrade</servlet-name>
    <servlet-class>com.fdmgroup.servletintro.BrokerCompleteTrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrokerCompleteTrade</servlet-name>
    <url-pattern>/brokerCompleteTrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>portfolio</display-name>
    <servlet-name>portfolio</servlet-name>
    <jsp-file>/portfolio.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>portfolio</servlet-name>
    <url-pattern>/portfolio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BanUser</display-name>
    <servlet-name>BanUser</servlet-name>
    <servlet-class>com.fdmgroup.servletintro.BanUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BanUser</servlet-name>
    <url-pattern>/BanUser</url-pattern>
  </servlet-mapping>
</web-app>